<!DOCTYPE html>
<html>
    <head>
       <title>Welcome</title>
    </head>
    <body>
        <h1>Bienvenidos a la página de inicio</h1>
        <td><a href="/admin"><button type="button" class="btn btn-default"> Admin </button></a></td><br><br>
        <td><a href="/doc"><button type="button" class="btn btn-default"> Doc </button></a></td><br><br>
        <td><a href="/base"><button type="button" class="btn btn-default"> Base </button></a></td><br><br>
        <td><a href="/mixnet"><button type="button" class="btn btn-default"> Mixnet </button></a></td><br><br>
        <td><a href="/postproc"><button type="button" class="btn btn-default"> PostProc </button></a></td><br><br>
        <td><a href="/store"><button type="button" class="btn btn-default"> Store </button></a></td><br><br>
        <td><a href="/voting"><button type="button" class="btn btn-default"> Voting </button></a></td><br><br>
    </body>
</html>